COMPOSE_PROJECT_NAME=yii-dev
APP_UID=1000
APP_GID=1000

YII_ENV=dev
YII_DEBUG=1

POSTGRES_DB=yii_dev
POSTGRES_USER=yii
POSTGRES_PASSWORD=change-me-now

# Forum parser schedule (cron format, container time is UTC)
PARSER_CRON_SCHEDULE=*/10 * * * *
